{# template is overriden in project #}
<div class="column">
	<div id="yummy_menu_content">
		{{ current_menu.meal }}
	</div>
	<div id="yummy_menu_cats" class="category">
		<a href="" class="tag" data-category="dessert">sladké</a>
		<a href="" class="tag" data-category="soup">polévka</a>
		<a href="" data-category="meal">hlavní chod</a>
	</div>
	<div id="yummy_menu_menu" class="menu">
		{% for day_no, day_name in week_days %}
			<span>
				<a href="" data-day="{{ day_no }}">
					{{ day_name|slice:":2"|capfirst }}
				</a>
			</span>
		{% endfor %}
	</div>
</div>
