{% extends BASE_TEMPLATE %}
{% load i18n %}

{% block content %}

	<h1>{{ cynosure.name }}</h1>

	<h2>{% trans "Utilized in recipes" %}:</h2>
	{% for ingredient_recipe in object_list %}
		{% with ingredient_recipe.recipe as one %}
			<a href="{% url "yummy:recipe_detail" one.category.path one.slug one.pk %}">
				{{ one.title }}
			</a>
		{% endwith %}
	{% endfor %}

	{% if is_paginated %}
		<div class="pagination">
			<ul>
				{% for num in paginator.page_range %}
					{% if num == page_obj.number %}
						<li class="disabled">
							<span class="current page">{{ num }}</span>

							{% else %}
						<li>
						<a href="?page={{ num }}"> {{ num }}</a>
					{% endif %}

				</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

{% endblock %}
